.quote-box {
	text-align: center;
	margin-top: 20vh;
	background: #fff;
	padding: 2rem;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 90%;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.quote-text {
	font-size: 1.5rem;
	margin-bottom: 20px;
}

.quote-author {
	font-size: 1.2rem;
	margin-bottom: 20px;
	text-align: right;
	color: #555;
}

.buttons {
	display: flex;
	justify-content: space-around;
}

button,
.tweet-button {
	background: #0077b5;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	font-size: 1rem;
	cursor: pointer;
}

button:hover,
.tweet-button:hover {
	background: #005691;
}
